Reproduce_results/data/Extract_EPPO/*features*
Reproduce_results/data/Extract_EPPO/Harmonization_outputs/*
*.xml
Reproduce_results/scripts/output/mapping_metrics/*.png
mapping_module/*_features/
GPT_API_key.txt
